[submodule "external/u8g2"]
	path = external/u8g2
	url = https://github.com/olikraus/u8g2
[submodule "external/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = external/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico.git
